html, body, .App, #root{
  width: 100%;
  height: 100%;
}


.is_login{
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: black;
}

.action_container_is{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
}

.action_container_is > * {
  margin-left: 10px !important;
}

.MuiFormControl-root{
  vertical-align: bottom !important;
}


